* {
    font-family: "Plus Jakarta Sans";
}

body {
    /* border: 1px solid black; */
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.heading-container {
    /* border: 1px solid black; */
    text-align: center;
    background-color: rgb(255, 183, 95);
}


.timer-container {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.timer {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 40px;
}

.timer span {
    background-color: white;
    border-color: black;
    border-style: solid;
    padding: 1%;
    border-radius: 10px;
}

.buttons {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start-btn {
    padding: 1%;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
}

.start-btn:hover {
    background-color: oldlace;
}

.decrement,
.increment {
    padding: 1%;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(0, 140, 255);
    cursor: pointer;
}

.set-counter-container {
    border: 1px solid red;
    flex: 1;
}